body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
                    }
  

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    }
body a  {text-decoration: underline;}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
        }
  

main {
    padding: 20px;
    }
  
nav {
    border: var(--secondary-color);
    background-color: var(--bg-color);
    padding: 10px;             
    }
nav ul {
    list-style: none;
    text-align: center;
        }
  
nav li {
    display: inline;
    margin-right: 10px;
        }
nav a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    text-decoration: underline;
      }   

section h2 {
    font-size: 24px;
    margin-top: 20px;
    color: var(--heading-color);
            }


article h3 {
    font-size: 18px;
    margin-top: 10px;
    color: var(--heading-color);    
            }
  

article a {
    color:var(--button-color);
    text-decoration: none;
    font-weight: bold;
          }
article a:hover {
    text-decoration: underline;
                }
  

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    }


:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0,255,255) ;
    --bg-color: rgb(255,255,255) ;
    --font-color:rgb(0,0,0);
    --heading-color: rgb(0,255,255) ;
    --button-color: rgb(0,255,255);
      }


[data-theme="dark"] {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(97, 97, 97 ) ;
    --bg-color: rgb(105, 105, 105);
    --font-color: rgb(255,255,255);
    --heading-color: rgb(255, 255, 255) ;
    --button-color: rgb(0, 0, 0);
                    }
