
body {background-color: var(--c-background-color);
max-width: 800px;
}

h1, h2, h3{padding-top: 50px;}

:root {
  --base-font-color: rgb(131, 148, 150);
  --secondary-font-color: rgb(88, 110, 117);
  --emphasised-font: rgb(147, 161, 161);
  --c-background-color: rgb(0, 43, 54);
  --c-background-highlights: rgb(7, 54, 66);
  --c-yellow: rgb(181, 137, 0);
  --c-orange: rgb(203, 75, 22);
  --c-red: rgb(220, 50, 47);
  --c-magenta: rgb(211, 54, 130);
  --c-violet: rgb(108, 113, 196);
  --c-blue: rgb(38, 139, 210);
  --c-cyan: rgb(42, 161, 152);
  --c-green: rgb(133, 153, 0);
}

header {font-size: 150%; text-align: center; color: var(--c-yellow);}


footer {
  background-color: var(--c-background-highlights);

}
main, footer, header {
  color: var(--base-font-color);
}

link {color: var(--c-magenta);}
link:hover {color: var(--c-orange);}

.subsection1 {border: 3px solid var(--c-cyan);}
.subsection2 {border: 3px solid var(--c-cyan);}

nav ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  padding: 0;
}
nav li {
  margin: 0 20px; 
}
aside{color: var(--c-green);} 

aside a {color: var(--c-red);}

aside a:hover {color: var(--c-blue);}

main {
  display: flex; 
}

article {
  flex: 1; 
  padding: 10px; 
}

aside {
  width: 30%; 
  padding: 10px; 
}